

<div class="card card-outline-primary user-card">
  <div class="row text-center">
    <h1><p class="row">
      <%= user.display_name %> </p></h1>
    </div>
    <div class="row">
    <img src="https://raw.githubusercontent.com/HLVA/eGuru/master/src/app/assets/images/eGuruLogo.png" class="avartar-user-list">
  </div>
    <%= link_to (t("btn.edit")), edit_user_path, class:"btn btn-primary" %>
  </div>
</div>
