<div class="row">
	<div class="col-md-7 offset-md-3">

		<div class="user-sign-form">
			<div id="clearance" class="sign-up">
			  <div class="row">
				  <div class="col-md-6 offset-md-3 text-xs-center">
				  	<h2><%= t(".title") %></h2>
				  </div>
			  </div>

				<div class="container" >
				    <%= render 'form', :user=>@user %>
				</div>
			</div>
		</div>
	</div>
</div>
