
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
$(document).ready(function(){
// your code

	setMap('Vincom B, Lê Thánh Tôn, Bến Nghé, Ho Chi Minh, Vietnam', 'map', 'eGuru group');
	
});
	
</script>

<%= link_to 'Send mail', send_mail_path, remote: 'true' %>
