

<div class="jumbotron about-us">
	<div class="row">
		<div class="col-md-9 col-sm-12 col-xs-12">
			<div style='width: 800px;'>
			  <div id="about-us-map" style='width: 800px; height: 400px;'></div>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div class="col-sm-12 col-xs-12 contact-info">
				<i class="fa fa-map-marker"></i>
				<h6>Find us at:</h6>
				<p>32 Le Thanh Ton, District 1, HCMC</p>
			</div>

			<div class="col-sm-12 col-xs-12 contact-info">
				<i class="fa fa-mobile-phone"></i>
				<h6>Call us now</h6>
				<p>Mobile: (+84) 909 090 090</p>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
$(document).ready(function(){
// your code

	setMap('Vincom B, Lê Thánh Tôn, Bến Nghé, Ho Chi Minh, Vietnam', 'about-us-map', 'eGuru Group');
	
});
	
</script>